.booking {
   margin-top: -100px;
   position: relative;
   z-index: 10;
}

.booking .button {
   margin-top: 20px;
}

.booking .first-three {
   width: min(100%, 500px);
}

.booking .form-wrapper {
   padding: 80px;
   background: linear-gradient(to right, white 30%, #cceefb 100%);
   border-radius: var(--secondary-radius);
   box-shadow: 0px 0px 50px 1px #0040FF1A;
}

.form-wrapper form {
   display: flex;
   align-items: flex-start;
}

.form-wrapper form .blocks-wrapper:nth-child(1) {
   margin-top: 0px !important;
}

.form-wrapper form .blocks-wrapper:nth-child(1) .delete-icon {
   display: none;
}

@media only screen and (max-width:1230px) {
   .form-wrapper form {
      flex-direction: column;
   }

   .form-wrapper form .blocks-wrapper:nth-child(1) {
      margin-top: 25px !important;
   }

   .booking .form-wrapper {
      padding: 50px 30px;
   }

   .single-block {
      margin-right: 15px;
   }
}

@media only screen and (max-width:575px) {
   .delete-icon {
      color: rgb(227, 48, 48);
      position: absolute;
      cursor: pointer;
      right: -10px;
      top: 0;
      margin-top: -10px;
   }

   .booking .form-wrapper {
      padding: 50px 15px;
   }
}