input {
   border-radius: var(--primary-radius);
   border: 1px solid black;
   padding: 15px 13px;
   width: 100%;
}

select {
   width: auto;
   background: none;
   padding: 0px 10px;
   border: none;
   outline: none;
}