.single-block {
   width: 180px;
}

.has-unit {
   width: 100%;
   position: relative;
}

.has-unit span {
   position: absolute;
   right: 7px;
   top: 50%;
   transform: translate(0%, -50%);
   font-size: 16px;
}