.App {
   width: 100%;
}

.container {
   max-width: 1400px !important;
   margin: auto;
}

.full-width {
   max-width: 2000px;
   margin: auto;
}

.ship-section {
   width: 100%;
   height: 550px;
   background-image: url('./assets/home/ship-image.png');
   background-position: right bottom;
}


/* csss for the moving boat section */

.boat-section {
   overflow: visible;
}

.boat-wrapper {
   width: 110%;
   height: 400px;
   transform: rotate(-13deg);
   transform-origin: left bottom;
   position: relative;
   background: linear-gradient(to top, #fffbe7, #0000)
}

.App {
   width: 100%;
   overflow: hidden;
   position: relative;
}

.boat-wrapper img {
   width: 43vw;
   transform: translateX(-80px) rotate(20deg);
   position: absolute;
   top: 130px;
   right: 0;
}

@media only screen and (max-width:1400px) {
   .boat-wrapper img {
      transform: translateX(-20px) rotate(20deg);
   }
}

@media only screen and (max-width:992px) {
   .boat-wrapper img {
      width: 47vw;
      top: 180px;
      transform: translateX(-20px) rotate(20deg);
   }
}

@media only screen and (max-width:762px) {
   .boat-wrapper {
      height: 300px;
   }

   .boat-wrapper img {
      width: 50vw;
      top: 150px;
      transform: translateX(-20px) rotate(20deg);
   }
}

@media only screen and (max-width:560px) {
   .boat-wrapper {
      height: 240px;
   }

   .boat-wrapper img {
      width: 50vw;
      top: 150px;
      transform: translateX(-20px) rotate(20deg);
   }
}